.contenedor {
  display: grid;
  height: 100vh;
  box-sizing: border-box;
  grid-template-columns: 120px 1fr;
}

.sidebar {
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.content {
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}
